@theme {
	--animate-zoom-in: zoom-in 1s;
	--animate-zoom-out: zoom-out 1s;

	--animate-grow-in: grow-in 1s;
	--animate-grow-out: grow-out 1s;

	@keyframes zoom-in {
		from {
			scale: 0;
		}

		to {
			scale: 1;
		}
	}

	@keyframes zoom-out {
		from {
			scale: 1;
		}

		to {
			scale: 0;
		}
	}

	@keyframes grow-in {
		from {
			opacity: 0;
			scale: 0;
		}

		to {
			opacity: 1;
			scale: 1;
		}
	}

	@keyframes grow-out {
		from {
			opacity: 1;
			scale: 1;
		}

		to {
			opacity: 0;
			scale: 0;
		}
	}
}
