@theme {
	--animate-zoom: zoom var(--tw-duration, 1s) var(--tw-ease, ease-in-out);
	--animate-grow: grow var(--tw-duration, 1s) var(--tw-ease, ease-in-out);

	@keyframes zoom {
		from {
			scale: 0;
		}

		to {
			scale: 1;
		}
	}

	@keyframes grow {
		from {
			opacity: 0;
			scale: 0;
		}

		to {
			opacity: 1;
			scale: 1;
		}
	}
}
