@theme {
	--animate-zoom-in: zoom-in var(--tw-duration, 1s) var(--tw-ease, ease-in-out);
	--animate-zoom-out: zoom-out var(--tw-duration, 1s)
		var(--tw-ease, ease-in-out);

	--animate-grow-in: grow-in var(--tw-duration, 1s) var(--tw-ease, ease-in-out);
	--animate-grow-out: grow-out var(--tw-duration, 1s)
		var(--tw-ease, ease-in-out);

	@keyframes zoom-in {
		from {
			scale: 0;
		}

		to {
			scale: 1;
		}
	}

	@keyframes zoom-out {
		from {
			scale: 1;
		}

		to {
			scale: 0;
		}
	}

	@keyframes grow-in {
		from {
			opacity: 0;
			scale: 0;
		}

		to {
			opacity: 1;
			scale: 1;
		}
	}

	@keyframes grow-out {
		from {
			opacity: 1;
			scale: 1;
		}

		to {
			opacity: 0;
			scale: 0;
		}
	}
}
