@theme {
	--animate-shift-to-t: shift-to-t var(--tw-duration, 1s)
		var(--tw-ease, ease-in-out);
	--animate-shift-to-r: shift-to-r var(--tw-duration, 1s)
		var(--tw-ease, ease-in-out);
	--animate-shift-to-b: shift-to-b var(--tw-duration, 1s)
		var(--tw-ease, ease-in-out);
	--animate-shift-to-l: shift-to-l var(--tw-duration, 1s)
		var(--tw-ease, ease-in-out);

	@keyframes shift-to-t {
		from {
			translate: 0 10%;
		}

		to {
			translate: 0 0;
		}
	}

	@keyframes shift-to-r {
		from {
			translate: 10% 0;
		}

		to {
			translate: 0 0;
		}
	}

	@keyframes shift-to-b {
		from {
			translate: 0 -10%;
		}

		to {
			translate: 0 0;
		}
	}

	@keyframes shift-to-l {
		from {
			translate: -10% 0;
		}

		to {
			translate: 0 0;
		}
	}
}
