:nth-child(1) {
	--tw-canon-index: 1;
}
:nth-child(2) {
	--tw-canon-index: 2;
}
:nth-child(3) {
	--tw-canon-index: 3;
}
:nth-child(4) {
	--tw-canon-index: 4;
}
:nth-child(5) {
	--tw-canon-index: 5;
}
:nth-child(6) {
	--tw-canon-index: 6;
}
:nth-child(7) {
	--tw-canon-index: 7;
}
:nth-child(8) {
	--tw-canon-index: 8;
}
:nth-child(9) {
	--tw-canon-index: 9;
}
:nth-child(10) {
	--tw-canon-index: 10;
}
:nth-child(11) {
	--tw-canon-index: 11;
}
:nth-child(12) {
	--tw-canon-index: 12;
}
:nth-child(13) {
	--tw-canon-index: 13;
}
:nth-child(14) {
	--tw-canon-index: 14;
}
:nth-child(15) {
	--tw-canon-index: 15;
}
:nth-child(16) {
	--tw-canon-index: 16;
}
:nth-child(17) {
	--tw-canon-index: 17;
}
:nth-child(18) {
	--tw-canon-index: 18;
}
:nth-child(19) {
	--tw-canon-index: 19;
}
:nth-child(20) {
	--tw-canon-index: 20;
}
